################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventCode/AdventCode/obj
/AdventCode/.vs/AdventCode
/AdventCode/AdventCode/bin/Debug/netcoreapp3.1/AdventCode.runtimeconfig.json
/AdventCode/AdventCode/bin/Debug/netcoreapp3.1/AdventCode.runtimeconfig.dev.json
